@use "../settings" as *;

.activity-card {
  background-color: $c-orange-300;
  background-image: url("public/images/icon-work.svg");
  background-position: 93% -12%;
  background-repeat: no-repeat;
  border-radius: $border-radius-md $border-radius-md $border-radius-xl
    $border-radius-xl;
  padding-top: $spacing-500;
  @media (min-width: $breakpoint-sm) {
    background-position: 93% -5%;
    background-size: 32%;
    max-width: $activity-card-max-width;
    padding-top: $spacing-400;
  }
}

.activity-card__body {
  background-color: $c-navy-900;
  border-radius: $border-radius-md;
  padding: $spacing-300;
}

.activity-card__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: $spacing-50;
}

.activity-card__title {
  @include text-preset-5-medium;
  color: $c-white;
}

.activity-card__menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: $font-size-lg;
  height: $spacing-200;
  padding: 0;
  width: $spacing-200;
}

.activity-card__menu-icon {
}

.activity-card__times {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: $spacing-100;
  @media (min-width: $breakpoint-sm) {
    flex-direction: column;
    gap: $spacing-100;
  }
}

.activity-card__current-time {
  @include text-preset-3;
  color: $c-white;
  @media (min-width: $breakpoint-sm) {
    @include text-preset-1;
    align-items: start;
  }
}

.activity-card__previous-time {
  @include text-preset-6;
  color: $c-navy-200;
}
