@use "../settings" as *;

.main-layout {
  margin-top: $spacing-1000;
  margin-bottom: $spacing-1000;
  // width: 87.2%;
  @media (min-width: $breakpoint-sm) {
    margin: auto auto;
    padding: 0 $spacing-200;
  }
  @media (min-width: $breakpoint-lg) {
    // max-width: $main-layout-desktop-width;
    display: flex;
  }
}
