// Colors
$c-white: #ffffff;
$c-black: #000000;

$c-navy-200: #bbc0ff;
$c-navy-800: #33397a;
$c-navy-900: #1c204b;
$c-navy-950: #0e1323;

$c-orange-300: #ff8b64;

$c-purple-500: #7078c9;
$c-purple-600: #5747ea;
$c-purple-700: #7335d2;

$c-blue-300: #55c2e6;

$c-pink-400: #ff5e7d;

$c-green-400: #4bcf82;

$c-yellow-300: #f1c75b;

$c-grey-200: #d8d8d8;
