@use "./breakpoints" as *;

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

$font-family-body: "Rubik", sans-serif;
$font-family-heading: "Rubik", sans-serif;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 15px;
$font-size-lg: 18px;
$font-size-xl: 24px;
$font-size-2xl: 32px;
$font-size-3xl: 40px;
$font-size-4xl: 56px;

@mixin text-preset(
  $font-size,
  $font-family,
  $font-weight: 400,
  $line-height: 1,
  $letter-spacing: normal,
  $font-style: normal
) {
  font-size: $font-size;
  font-family: $font-family;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  font-style: $font-style;
}

@mixin text-preset-1 {
  @include text-preset($font-size-4xl, $font-family-heading, 300, 1.2);
}

@mixin text-preset-2 {
  @include text-preset($font-size-3xl, $font-family-body, 300, 1.2);
}

@mixin text-preset-3 {
  @include text-preset($font-size-2xl, $font-family-body, 300, 1.2);
}

@mixin text-preset-4 {
  @include text-preset($font-size-xl, $font-family-body, 300, 1.15);
}

@mixin text-preset-5-medium {
  @include text-preset($font-size-lg, $font-family-body, 500, 1.15);
}

@mixin text-preset-5-regular {
  @include text-preset($font-size-lg, $font-family-body, 400, 1.15);
}

@mixin text-preset-6 {
  @include text-preset($font-size-md, $font-family-body, 400, 1.2);
}
